---

---

<section class="text-center py-16 px-4">
    <h2 class="text-2xl font-bold mb-4">Experiencia laboral</h2>
    <ul class="space-y-6">
        <li>
            <h3 class="text-xl font-semibold">
                Frontend Developer — Banco LAFISE
            </h3>
            <p class="text-sm text-gray-500">2023 – Actualidad</p>
            <p class="mt-1">
                Desarrollo de landing modernas con Astro siguiendo los
                diseños&nbsp;<br class="d-none d-md-initial" />
                proporcionado para el sitio del grupo LAFISE.
            </p>
        </li>
        <li>
            <h3 class="text-xl font-semibold">
                FullStack developer — ImplementHIT
            </h3>
            <p class="text-sm text-gray-500">2022 – 2023</p>
            <p class="mt-1">
                Desarrollo de interfaces modernas con React, Angular y&nbsp;<br
                    class="d-none d-md-initial"
                />
                desarrollo de Web API usando Laravel
            </p>
        </li>
        <li>
            <h3 class="text-xl font-semibold">FullStack developer — Crecosa</h3>
            <p class="text-sm text-gray-500">2020 – 2022</p>
            <p class="mt-1">
                Desarrollo de interfaces modernas con Angular, desarrollo
                de&nbsp;<br class="d-none d-md-initial" />
                aplicaciones web con Ionic y desarrollo de Web API con el framework
                .NET
            </p>
        </li>
        <li>
            <h3 class="text-xl font-semibold">Frontend Developer — Piki APP</h3>
            <p class="text-sm text-gray-500">2019 – 2020</p>
            <p class="mt-1">
                Desarrollo de interfaces modernas con Angular y desarrollo
                de&nbsp;<br class="d-none d-md-initial" />
                aplicaciones web con Ionic.
            </p>
        </li>
    </ul>
</section>
